{%- if hypr is defined -%}
{% macro render_section(section, section_name="", indent=4) %}
    {%- if section is not mapping and section is sequence and section is not string -%}
    {%- for entry in section -%}
            {{ section_name }} = {{ entry }} {{ "\n" }}
    {%- endfor %}
    {%- else -%}
    {%- for key, value in section.items() -%}
        {%- if value is mapping -%}
            {{ ' ' * indent }}{{ key }} { {{ "\n" }}
            {{- render_section(value, section_name, indent + 4) -}}
            {{ ' ' * indent }}}
        {%- elif value is sequence and value is not string -%}
        {%- for entry in value -%}
            {{ ' ' * indent }}{{ key }} = {{ entry }} {{ "\n" }}
        {%- endfor %}
        {%- else -%}
            {{ ' ' * indent }}{{ key }} = {{ value }} {{ "\n" }}
        {%- endif -%}
    {% endfor %}
    {%- endif %}
{% endmacro %}

################
### MONITORS ###
################

# See https://wiki.hyprland.org/Configuring/Monitors/
{% if hypr.monitors is defined %}
{%- for monitor in hypr.monitors -%}
monitor = {{ monitor.name }},{{ monitor.resolution }},{{ monitor.position }},{{ monitor.scale }} {{ "\n" }}
{%- endfor -%}
{% endif %}


###################
### MY VARIABLES ###
###################
{% if hypr.variables is defined %}
{%- for varname, cmd in hypr.variables.items() -%}
${{ varname }} = {{ cmd }} {{ "\n" }}
{%- endfor -%}
{% endif %}

#################
### AUTOSTART ###
#################

# Autostart necessary processes (like notifications daemons, status bars, etc.)
# Or execute your favorite apps at launch like this:
{% if hypr.autostart is defined %}
{%- for cmd in hypr.autostart -%}
exec-once = {{ cmd }} {{ "\n" }}
{%- endfor -%}
{% endif %}

#############################
### ENVIRONMENT VARIABLES ###
#############################

# See https://wiki.hyprland.org/Configuring/Environment-variables/
{%- if hypr.env is defined -%}
{%- for key, value in hypr.env.items() -%}
env = {{ key }},{{ value }} {{ "\n" }}
{%- endfor -%}
{% endif %}

#####################
### LOOK AND FEEL ###
#####################

# https://wiki.hyprland.org/Configuring/Variables/#general
general {
{{ render_section(hypr.general) }}
}

# https://wiki.hyprland.org/Configuring/Variables/#decoration
decoration {
{{ render_section(hypr.decoration) }}
}

# https://wiki.hyprland.org/Configuring/Variables/#animations
{% if hypr.animations is defined %}
animations {
{{ render_section(hypr.animations) }}
}
{% endif %}

# See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
{% if hypr.dwindle is defined %}
dwindle {
{{ render_section(hypr.dwindle) }}
}
{% endif %}

# See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
{% if hypr.master is defined %}
master {
{{ render_section(hypr.master) }}
}
{% endif %}

# https://wiki.hyprland.org/Configuring/Variables/#misc
{% if hypr.misc is defined %}
misc {
{{ render_section(hypr.misc) }}
}
{% endif %}

#############
### INPUT ###
#############
# https://wiki.hyprland.org/Configuring/Variables/#input
{% if hypr.input is defined %}
input {
{{ render_section(hypr.input) }}
}
{% endif %}

# https://wiki.hyprland.org/Configuring/Variables/#gestures
{% if hypr.gestures is defined %}
gestures {
{{ render_section(hypr.gestures) }}
}
{% endif %}

# Example per-device config
# See https://wiki.hyprland.org/Configuring/Keywords/#per-device-input-configs for more
{% if hypr.device is defined %}
device {
{{ render_section(hypr.device) }}
}
{% endif %}

###################
### KEYBINDINGS ###
###################

# See https://wiki.hyprland.org/Configuring/Keywords/
$mainMod = SUPER # Sets "Windows" key as main modifier

# Example binds, see https://wiki.hyprland.org/Configuring/Binds/ for more
{% if hypr.bind is defined %}
{{ render_section(hypr.bind, "bind") }}
{% endif %}

{% if hypr.bindm is defined %}
{{ render_section(hypr.bindm, "bindm") }}
{% endif %}

{% if hypr.bindel is defined %}
{{ render_section(hypr.bindel, "bindel") }}
{% endif %}

{% if hypr.bindl is defined %}
{{ render_section(hypr.bindl, "bindl") }}
{% endif %}

##############################
### WINDOWS AND WORKSPACES ###
##############################
# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more
# See https://wiki.hyprland.org/Configuring/Workspace-Rules/ for workspace rules

# Example windowrule v1
{% if hypr.windowrule is defined %}
{%- for rule in hypr.windowrule -%}
windowrule = {{ rule }} {{ "\n" }}
{%- endfor %}
{% endif %}

{% if hypr.windowrulev2 is defined %}
{%- for rule in hypr.windowrulev2 -%}
windowrulev2 = {{ rule }} {{ "\n" }}
{%- endfor %}
{% endif %}
{%- endif -%}
